<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	 <http:listener-config name="retrive-routesandschedules-system-httpListenerConfig">
        <http:listener-connection host="${http.listner.host}" port="${http.listner.port}" />
    </http:listener-config>
    <apikit:config name="retrive-routesandschedules-system-config" api="retrive-routesandschedules-system.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<configuration-properties doc:name="Configuration properties" doc:id="9739a3c8-43dd-45b3-b29b-ee179d5f810b" file="Config\local.yaml" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="cd60e112-c6b3-448b-9f94-49d600a5cdf3" >
		<http:request-connection host="${http.requester.host}" port="${http.requester.port}" />
	</http:request-config>
	<global-property doc:name="Global Property" doc:id="418ccb4e-583f-450d-8f05-86e46ab77b8a" name="env" value="local" />
	<configuration doc:name="Configuration" doc:id="2580269f-d4c3-44d8-a6fb-1c49b7b0a787" defaultErrorHandler-ref="Error_HandlerError_Handler" />
	
</mule>
